
button {
    border: none;
    color: white;
    background-color: #267c43;
    border-radius: 3px;
}

hr {
    margin: 0.25em;
    width: 95%;
    height: 0;
    border-style: solid;
    color: grey;
}


.shoppingList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1em;
    align-items: center;
}

.ingredientList {
    border: 1px grey solid;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    justify-content: start;
    align-items: center;
    padding: 1em;
    height: 100%;
    width: 50%;
}

.ingredient {
    display: grid;
    grid-template-columns: 4fr 1fr;
    border: 1px solid grey;
    border-radius: 5px;
    height: 2em;
    width: 50%;
    margin: 0 auto;
    align-items: center;
    padding: 0.5em;
}

.ingredient:hover {
    background-color: #f5f5f5;
}

.ingredient.checked {
    background-color: #dddddd;
    text-decoration: line-through;
}



